<div class="main">
  <h1>Task Board</h1>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
          <button class="btn card_btn" routerLink="/side-bar/main"> Add Subtask</button>
          <button class="btn card_btn">Remove Task</button>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=5"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
          <button class="btn card_btn">Add Subtask</button>
          <button class="btn card_btn">Remove Task</button>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=11"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
          <button class="btn card_btn">Add Subtask</button>
          <button class="btn card_btn">Remove Task</button>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=14"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
          <button class="btn card_btn">Add Subtask</button>
          <button class="btn card_btn">Remove Task</button>

        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=17"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
        
            <button class="btn card_btn">Add Subtask</button>
            <button class="btn card_btn">Remove Task</button>
        

         
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://picsum.photos/500/300/?image=2"></div>
        <div class="card_content">
          <h2 class="card_title">Task</h2>
          <p class="card_text">This Is the task board where we need to specify the tasks assigned on run time.</p>
          <button class="btn card_btn">Add Subtask</button>
          <button class="btn card_btn">Remove Task</button>

        </div>
      </div>
    </li>
  </ul>
</div>

